<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diogopereira.rackit.v2">

    <application
        android:name="com.diogopereira.rackit.GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RackIT">
        <activity
            android:name="com.diogopereira.rackit.fragments.AddProductActivity"
            android:exported="false" />
        <activity
            android:name="com.diogopereira.rackit.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.diogopereira.rackit.AuthenticationActivity"
            android:exported="false" />
        <activity
            android:name="com.diogopereira.rackit.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name="com.diogopereira.rackit.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.diogopereira.rackit.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.diogopereira.rackit.RegisterActivity"
            android:exported="false" />
    </application>

</manifest>